{% extends "osr-style/pages/based/based.html" %}
{% block title %}{{_("平台协议")}}-{% endblock %}
{% block content %}
<div id="app" class="row osr-edit-page">
    <section v-if="notice" class="osr-panel article">
        <!-- 文章头-->
        <h3>
            {[notice.title]}
        </h3>
        <br>
        <article>
            <!-- 正文-->
            <div v-html="notice.text_html" v-highlight></div>
            <!-- //正文-->
        </article>
    </section>
</div>

<script src="/theme/static/js/markdown/marked.min.js?v={{g.site_global.site_config.STATIC_FILE_VERSION}}"></script>
<link href="/theme/static/css/highlight-style-github.css?v={{g.site_global.site_config.STATIC_FILE_VERSION}}" rel="stylesheet">
<script src="/theme/static/js/highlight.js?v={{g.site_global.site_config.STATIC_FILE_VERSION}}"></script>
<script>

     Vue.directive('highlight',function (el) {
      let blocks = el.querySelectorAll('pre code');
      blocks.forEach((block)=>{
        hljs.highlightBlock(block)
      })
    })

    var vue = new Vue({
      el: '#app',
      delimiters:['{[', ']}'],
      data:{
            notice:{},
      },
      filters: {
            formatDate: function (time) {
              return irrformatDate(time, "yyyy-MM-dd hh:mm");
            }
      }
    })

    // 加载完页面执行
    $(document).ready(function(){
        var url_s = get_url_parameter()
        vue.name = get_obj_value(url_s,"n")
        get_global(vue.name);
    });

    function get_global(name){
        vue.name = name;
        var conditions = [
             {
                type:"text",
                names:[vue.name],
                result_key:"notice"
             }
        ]
        var d ={
            conditions:JSON.stringify(conditions)

        }

        var result = osrHttp("GET","/api/global/media", d, args={not_prompt:true});
        result.then(function (r) {
            vue.notice = r.data.medias.notice[0];
        });

        var url = window.location.pathname
                    +"?n="+vue.name
        history_state(null, url);
    }

</script>
{% endblock %}